@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.mySwiper .swiper-pagination {
  padding-top: 100px;
  bottom: 0px; /* 하단에 위치 */
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.mySwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: black;
}
